[submodule "PyCryptsy"]
	path = PyCryptsy
	url = https://github.com/salfter/PyCryptsy
[submodule "python-bittrex"]
	path = python-bittrex
	url = https://github.com/ericsomdahl/python-bittrex
[submodule "PyCCEX"]
	path = PyCCEX
	url = https://github.com/salfter/PyCCEX
[submodule "PyCryptopia"]
	path = PyCryptopia
	url = https://github.com/salfter/PyCryptopia
[submodule "poloniex"]
	path = poloniex
	url = https://github.com/salfter/poloniex
[submodule "bleuBot"]
	path = bleuBot
	url = https://github.com/Durendal/bleuBot
